*::after {
    box-sizing:border-box;
}

/* Custom properties - SMS SEND */

html {
    scroll-behavior: smooth;
}

.sendmessage{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding-top: 4rem;
	padding-right: 1rem;
	padding-left: 1.5em;
	padding-bottom: 1.5em;
	width: 450px;
	border-radius: 5px;
}

.selecprim  {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


#single-btn, #grp-btn {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

form {
	margin-left:28%;
	margin-right:28%;
    font-size: 15px;
	padding-top:1rem;
			}


.sel-box-pays,.sel-box-grp {
	margin-top: 2rem;
		}	

.countryinput {
	display:inline-block;
	width:400px;
	text-align: left; 
	height:30px;
	border-radius: 10px;
    padding-left:2px;
	margin-bottom: 1rem;
	border: 1px solid black;
		} 

.mobinput {
	display:inline-block;
	width:200px;
	text-align: left; 
	height:30px;
	border-radius: 10px;
    padding-left:10px;
	border: 1px solid black;
		}

.mob-text {
	margin-bottom: -1rem;
}
	
.balgrp {
	display:inline-block;
	width:270px;
	text-align: left; 
	height:30px;
	border-radius: 10px;
	padding-left:10px;
	border: 1px solid black;
	margin-bottom: 1rem;
	}	

.groupinput {
	display:inline-block;
	width:400px;
	text-align: left; 
	height:30px;
	border-radius: 10px;
    padding-left:10px;
	border: 1px solid black;
	margin-bottom: 1rem;
}

textarea{
	display:inline-block;
	width:400px;
	height: 100px;
	border-radius: 10px;
    padding-left:5px;
    padding-top:4px;
	border: 1px solid black;
		}
		
.sender-text-message {
	margin-bottom: 2rem;
}

#SendTime {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display:inline-block;
	width:200px;
	text-align: left; 
	height:30px;
	border-radius: 10px;
    padding-left:10px;
	border: 1px solid black;
}

.send-btn {
	display:inline-block;
	width:110px;
	height:30px;
	border-radius: 5px;
    padding: left 2px;
	border: 1px solid black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

.btn2 {
	background-color: #dbdcdf;
		}
	
.tabbor{
	margin-right: 370px;
	margin-left:0;
	color:#537E36;
				}
	
	span.tabbor {
		padding-left: 15px;
	}
	
	.space1 {
	margin-top: 1rem;
}

/* RESPONSIVE - SMS SEND */

@media (max-width:667px) and (min-width: 375px){
	h3.top-title0.tit1 {
		font-size: 30px;
		margin-top:200px;
		margin-bottom:1rem;
		margin-left: 30px;
					}

	.rightwidth.rightwidth3{
		margin-left:15px;
		}
		
		.sendmessage{
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding-top: 30px;
			padding-right: 10px;
			padding-bottom: 1.5em;
			width: 450px;
			border-radius: 5px;
		}
	}

@media (max-width:740px) and (min-width: 360px){
	h3.top-title0 {
		font-size: 30px;
		margin-top:10px;
		margin-bottom:50px;
		margin-left: 30px;
						}
	
		.rightwidth.rightwidth3{
			margin-left:5px;
			}
			
			#ComposeForm{
				margin-left: 0;
			}
	
			.sendmessage{
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				padding-top: 30px;
				padding-right: 10px;
				
				padding-bottom: 1.5em;
				width: 400px;
				border-radius: 5px;
			}
			.countryinput {
				display:inline-block;
				width:300px;
				text-align: left; 
				height:30px;
				border-radius: 10px;
				padding-left:2px;
				margin-bottom: 1rem;
				border: 1px solid black;
					} 
					textarea{
						display:inline-block;
						width:300px;
						height: 100px;
						border-radius: 10px;
						padding-left:5px;
						padding-top:4px;
						border: 1px solid black;
							}
							.groupinput {
								display:inline-block;
								width:300px;
								text-align: left; 
								height:30px;
								border-radius: 10px;
								padding-left:10px;
								border: 1px solid black;
								margin-bottom: 1rem;
										}
										.balgrp {
											display:inline-block;
											width:300px;
											text-align: left; 
											height:30px;
											border-radius: 10px;
											padding-left:10px;
											border: 1px solid black;
											margin-bottom: 1rem;
											}	
		}	

@media (max-width:896px) and (min-width: 414px){
	h3.top-title0 {
		font-size: 30px;
		margin-top:10px;
		margin-bottom:2rem;
		margin-left: 30px;
					}

	.rightwidth.rightwidth3{
		margin-left: 20px;
	}

			#ComposeForm{
				margin-left: 0;
			}

.sendmessage{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding-right: 10px;
	padding-left: 1.5em;
	padding-bottom: 1.5em;
	margin-top:1rem;
	width: 450px;
	border-radius: 5px;
}

.sel-box-pays,.sel-box-grp {
	margin-top: 2rem;
		}	

.countryinput {
	display:inline-block;
	width:300px;
	text-align: left; 
	height:30px;
	border-radius: 10px;
    padding-left:2px;
	margin-bottom: 1rem;
	border: 1px solid black;
		} 

.mobinput {
	display:inline-block;
	width:200px;
	text-align: left; 
	height:30px;
	border-radius: 10px;
    padding-left:10px;
	border: 1px solid black;
		}

		.groupinput {
			display:inline-block;
			width:300px;
			text-align: left; 
			height:30px;
			border-radius: 10px;
			padding-left:10px;
			border: 1px solid black;
			margin-bottom: 1rem;
					}

.mob-text {
	margin-bottom: -1rem;
}
	
textarea{
	display:inline-block;
	width:300px;
	height: 100px;
	border-radius: 10px;
    padding-left:5px;
    padding-top:4px;
	border: 1px solid black;
		}
		
.sender-text-message {
	margin-bottom: 2rem;
	}
}
	
@media (max-width:1024px) and (min-width: 600px){
	
		.sendmessage{
			margin-left: 4rem;
			}
		}

/* BOUTONS RADIO */

.btn:active,
.active {
	color: white!important;
	background-color: #A7D08E!important;
  	border-color:  #A7D08E!important;
}

.btn-toggle{
	color: white!important;
	background-color: #A7D08E!important;
  	border-color:  #A7D08E!important;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: white;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 0.5px solid black
}

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #A7D08E;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 0.5px solid black;
	}


/* TOPBAR DROPDOWN MENU  */

.dropdown {
	position: relative;
	display: inline-block;
	}
	  
.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	}
  
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	}
  
.dropdown-menu a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	}
	  

	/* DASHBOARD */

h3.top-title {
	margin-top: 2rem;
	margin-left: 2rem;
	font-family: Poppins;
	font-weight: 500;
	font-size: 30px;
	}
	
.headersms {
	display: flex;
	background-color: rgb(237, 235, 238);
	line-height: 30px;
	height: 6rem;
	width: 80%;
	text-align: center;
	align-items: center;
	padding-top: 25px;
	padding-left: 10rem;
	padding-right: 0;
	margin-left: 3rem;
	margin-bottom: 2.5rem;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				}
.smsone {
	float: left;
	padding-right: 100px;
	padding-left: 160px;
  }

.smsone p {
	box-sizing: border-box;
	display: block;
    color: #D46023;
    font-size: 18px;
    padding-left: 20px;
	padding-right: 50px;
		}


.dashgraph {
	margin-bottom: 3rem;
	}

#lineq span,#barq span{
	margin-left: 120px;
}



button #single-btn1_30,#single-btn1_60,#single-btn1_90 {
	color:#537E36;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

button #single-btn2_30,#single-btn2_60, #single-btn2_90 {
	color:#537E36;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	/* DASHBOARD RESPONSIVE*/

@media all and (max-width: 1024px){
    p{
	font-size : 14px;
		}
	}

@media (max-width:667px) and (min-width: 375px){
	h3.top-title {
		margin-left: 1rem;
		margin-top:2rem;
		}
	.headersms.resp1 {
		display: flex;
		background-color: rgb(237, 235, 238);
		line-height: 30px;
		height: 6rem;
		text-align: center;
		align-items: center;
		padding-top: 25px;
		padding-right: 0;
		margin-left: 10px;
		margin-bottom: 2.5rem;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
						}
												  
	}

@media (max-width:720px) and (min-width: 280px){
	h3.top-title {
		margin-left: 7rem;
		
	}

	.smsone p {
		box-sizing: border-box;
		display: block;
		color: #D46023;
		font-size: 12px;
		padding-left:10px;
		padding-right: 10px;
			}

	.rightwidth2{
		margin-left: 0!important;
	}
	
	.headersms {
		display: flex;
		background-color: rgb(237, 235, 238);
		line-height: 20px;
		height: 6rem;
		width: 100%;
		text-align: center;
		align-items: center;
		padding-top: 20px;
		padding-left: 0px;
		padding-right: 2rem;
		margin-top: -20px;
		margin-bottom:20px;
			}	

				.smsone {
					float: left;
					padding-right: 10px;
					padding-left: 10px;
				  }
				
	button#single-btn1_30.btn.btn-lg.active,#single-btn1_30.btn.btn-lg,#single-btn1_60,#single-btn1_90 {
		font-size: 12px;
				}

	button#single-btn2_30,#single-btn2_60, #single-btn2_90 {
		font-size: 12px;
		}
	
	
#lineq span,#barq span{
	margin-left: 8px;
					}

.dashgraph {
	margin-bottom: 0;
	}
}

@media (max-width:740px) and (min-width: 360px){
	
	h3.top-title.tit{
		margin-left:1rem;
		margin-bottom: 1rem;
					}
	.headersms.resp1 {
		display: flex;
		background-color: rgb(237, 235, 238);
		line-height: 30px;
		height: 6rem;
		text-align: center;
		align-items: center;
		margin-left: 5px;
		margin-bottom: 2.5rem;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				}					  
		}

@media (max-width:914px) and (min-width: 412px){
	.headersms {
		display: flex;
		background-color: rgb(237, 235, 238);
		line-height: 20px;
		height: 6rem;
		width: 500px;
		text-align: center;
		align-items: center;
		padding-top: 20px;
		padding-left: 0px;
		padding-right: 2rem;
		margin-top: -20px;
		margin-bottom:20px;
			}	
}

@media (max-width:1180px) and (min-width: 820px){
	h3.top-title.tit {
		margin-left:2rem;
			}

	.headersms.resp1.resp2 {
		display: flex;
		background-color: rgb(237, 235, 238);
		line-height: 20px;
		height: 6rem;
		width: 750px;
		text-align: center;
		align-items: center;
		padding-top: 20px;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-top: -20px;
		margin-bottom: 20px;
		margin-left: 1rem;
			}
			
			.smsone {
				float: left;
				padding-right: 10px;
				padding-left: 10px;
			  		}

	
			#lineq span,#barq span{
				margin-left: 8px;
					}			  
				}

@media (max-width:896px) and (min-width: 414px){
	h3.top-title {
		margin-left: 1rem;
		margin-top: 2rem;
	}
	
	.headersms {
		display: flex;
		background-color: rgb(237, 235, 238);
		line-height: 20px;
		height: 6rem;
		width: 700px;
		text-align: center;
		align-items: center;
		padding-top: 20px;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-top: -20px;
		margin-bottom:50px;
					}

		.rightwidth2{
			margin-left: 2rem;
					}

					.smsone p {
						box-sizing: border-box;
						display: block;
						color: #D46023;
						font-size: 14px;
						padding-left:10px;
						padding-right: 10px;
							}
				}

@media (max-width:720px) and (min-width: 540px){

	h3.top-title.tit {
		margin-left: 2rem;
		margin-top: 2rem;
		margin-bottom:50px;
	}
	.rightwidth2{
		margin-left: 2rem;
				}
	.headersms.resp1.resp2 {
		display: flex;
		background-color: rgb(237, 235, 238);
		line-height: 20px;
		height: 6rem;
		width: 800px;
		text-align: center;
		align-items: center;
		padding-top: 20px;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-top: -20px;
		margin-bottom:50px;
		margin-left: 2rem;
					}
				}				
				
@media (max-width:844px) and (min-width: 390px){

	h3.top-title {
		margin-left: 0;
		margin-top:2rem;
		}
		.headersms {
			display: flex;
			background-color: rgb(237, 235, 238);
			line-height: 20px;
			height: 6rem;
			width: 350px;
			text-align: center;
			align-items: center;
			padding-top: 20px;
			padding-left: 0px;
			padding-right: 2rem;
			margin-top: -20px;
			margin-bottom:20px;
			margin-left:2rem;
							}	
						}

@media (max-width:740px) and (min-width: 360px){
	
	.headersms {
		display: flex;
		background-color: rgb(237, 235, 238);
		line-height: 20px;
		height: 6rem;
		width: 400px;
		text-align: center;
		align-items: center;
		padding-top: 20px;
		padding-left: 0px;
		padding-right: 2rem;
		margin-top: -20px;
		margin-bottom:20px;
		margin-left:3rem;
					}	
					
				}

@media (max-width:1024px) and (min-width: 768px){
	h3.top-title {
		margin-left: 2rem;
		margin-top:2rem;
		}

	.headersms.resp1.resp2 {
		display: flex;
		background-color: rgb(237, 235, 238);
		line-height: 20px;
		height: 6rem;
		width: 700px;
		text-align: center;
		align-items: center;
		padding-top: 20px;
		padding-left: 15px;
		padding-right: 20px;
		margin-top: -20px;
		margin-bottom:20px;
		margin-left:1.5rem;
					}	
					.smsone {
						float: left;
						padding-right: 10px;
						padding-left: 10px;
							  }
		

					
			}	

/*RESPONSIVE SEND-SMS*/

@media all and (max-width: 1024px){
	#email{
	display:inline-block;
    margin-top: 30px;
	width:250px;
	text-align: left; 
	font-size: 17px;
	height:25px;
		}
	}	
	
@media all and (max-width: 1024px){
	#sujet{
	display:inline-block;
	width:290px;
	text-align: left; 
	font-size: 17px;
	height:25px;
		}
	}	
	
@media all and (max-width: 1024px){
	#message{
	display:inline-block;
	width:330px;
	font-size: 17px;
	height: 300px;
    margin-left: 3px;
		}
	}			
	
	
		
@media (min-width: 1024px) {
	.smsone {
		float: left;
		padding-right: 0px;
		padding-left: 8px;
		}		
			
		
	.smsone p {
		box-sizing: border-box;
		display: block;
		color: #D46023;
		font-size: 16px;
		}

	.dashone {
		margin-top: 1.5rem;
		margin-left: 5rem;
			}
	
		
	#lineq span,#barq span{
	margin-left: 20px;
				}
			
			}

/*CHEVRONS*/

.pagging {
	background-color: #f1f1f1;
	line-height: 30px;
	margin: 20px auto;
	padding: 0 10px;
}

.nxtpre .pagination {
	height: 36px;
	margin: 10px 0 0 0 !important;
}

.pagination ul {
	/*display: inline-block;*/
	*display: inline;
	/* IE7 inline-block hack */
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
	display: inline;
}

.pagination a {
	float: left;
	padding: 0 14px;
	line-height: 34px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left-width: 0;
}

	.pagination a:hover,
	.pagination .active a {
		background-color: #f5f5f5;
	}

.pagination .active a {
	color: #999999;
	cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
	color: #999999;
	background-color: transparent;
	cursor: default;
}

.pagination li:first-child a {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.pagination-centered {
	text-align: center;
}

.pagination-right {
	text-align: right;
}

.pager {
	margin-left: 0;
	margin-bottom: 18px;
	list-style: none;
	text-align: center;
	*zoom: 1;
}

	.pager:before,
	.pager:after {
		display: table;
		content: "";
	}

	.pager:after {
		clear: both;
	}

	.pager li {
		display: inline;
	}

	.pager a {
		display: inline-block;
		padding: 5px 14px;
		background-color: #fff;
		border: 1px solid #ddd;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
	}

		.pager a:hover {
			text-decoration: none;
			background-color: #f5f5f5;
		}

	.pager .next a {
		float: right;
	}

	.pager .previous a {
		float: left;
	}

	.pager .disabled a,
	.pager .disabled a:hover {
		color: #999999;
		background-color: #fff;
		cursor: default;
	}

.showpg {
	float: left;
	padding-top: 12px;
}

.nxtpre {
	float: right;
}

.nxtpre2{
	margin-top: 3.5rem;
	margin-left: 2rem;
}

.showpg a {
	margin-left: 10px;
	background: #3e87a8;
	padding: 2px 7px;
	border-radius: 8px;
	color: #fff;
}

.pdnon {
	padding: 0 !important;
}

.pagination {
	margin: 20px 0;
}

	.pagination ul {
		*display: inline;
		*zoom: 1;
		margin-left: 0;
		margin-bottom: 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}

		.pagination ul > li {
			display: inline;
		}

			.pagination ul > li > a, .pagination ul > li > span {
				float: left;
				padding: 4px 12px;
				line-height: 20px;
				text-decoration: none;
				background-color: #ffffff;
				border: 1px solid #dddddd;
				border-left-width: 0;
			}

				.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
					background-color: #f5f5f5;
				}

		.pagination ul > .active > a, .pagination ul > .active > span {
			color: #999999;
			cursor: default;
		}

		.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
			color: #999999;
			background-color: transparent;
			cursor: default;
		}

		.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
			border-left-width: 1px;
			-webkit-border-top-left-radius: 4px;
			-moz-border-radius-topleft: 4px;
			border-top-left-radius: 4px;
			-webkit-border-bottom-left-radius: 4px;
			-moz-border-radius-bottomleft: 4px;
			border-bottom-left-radius: 4px;
		}

		.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-topright: 4px;
			border-top-right-radius: 4px;
			-webkit-border-bottom-right-radius: 4px;
			-moz-border-radius-bottomright: 4px;
			border-bottom-right-radius: 4px;
		}

.pagination-centered {
	text-align: center;
}

.pagination-right {
	text-align: right;
}

.pagination-large ul > li > a, .pagination-large ul > li > span {
	padding: 11px 19px;
	font-size: 17.5px;
}

.pagination-large ul > li:first-child > a, .pagination-large ul > li:first-child > span {
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}

.pagination-large ul > li:last-child > a, .pagination-large ul > li:last-child > span {
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}

.pagination-mini ul > li:first-child > a, .pagination-small ul > li:first-child > a, .pagination-mini ul > li:first-child > span, .pagination-small ul > li:first-child > span {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}

.pagination-mini ul > li:last-child > a, .pagination-small ul > li:last-child > a, .pagination-mini ul > li:last-child > span, .pagination-small ul > li:last-child > span {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}

.pagination-small ul > li > a, .pagination-small ul > li > span {
	padding: 2px 10px;
	font-size: 11.9px;
}

.pagination-mini ul > li > a, .pagination-mini ul > li > span {
	padding: 0 6px;
	font-size: 10.5px;
}

.pager {
	margin: 20px 0;
	list-style: none;
	text-align: center;
	*zoom: 1;
}

	.pager:before, .pager:after {
		display: table;
		content: "";
		line-height: 0;
	}

	.pager:after {
		clear: both;
	}

	.pager li {
		display: inline;
	}

		.pager li > a, .pager li > span {
			display: inline-block;
			padding: 5px 14px;
			background-color: #fff;
			border: 1px solid #ddd;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;
		}

			.pager li > a:hover, .pager li > a:focus {
				text-decoration: none;
				background-color: #f5f5f5;
			}

	.pager .next > a, .pager .next > span {
		float: right;
	}

	.pager .previous > a, .pager .previous > span {
		float: left;
	}

	.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
		color: #999999;
		background-color: #fff;
		cursor: default;
	}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;
	border-radius: 10px;
}

	.badge:empty {
		display: none;
	}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url(/appv2/images/glyphicons-halflings.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-top: 1px;
}

.icon-chevron-left {
	background-position: -432px -72px !important;
}

.icon-chevron-right {
	background-position: -456px -72px !important;
}

	
/* SMS-TEMPLATES */

#left-text h3.top-title0 {
	margin-top:2rem;
	margin-left: 2rem;
	font-family: Poppins;
	font-weight: 500;
	font-size: 30px;
}

.rightwidth {
	margin-left: 5rem;
	}

.searchblock {
	display: flex;
	line-height: 3;
	}

.searchblock input {
	width: 200px;
	margin-left: 10px;
	}

.searchblock .Register-btn {
	color: white;
	background-color: #A7D08E;
	border-radius: 5px;
	border: 1px solid #A7D08E;
	}

.ajmode0{
	margin-top: -3rem;
	}

.ajmodel  {
	color: white;
	background-color: #A7D08E;
	border-radius: 5px;
	border: 1px solid #A7D08E;
	margin-left: 180%;
	width: 250px;
	padding-top:6px;
	padding-bottom:5px;
	
}

.portlet {
	margin-top: 3rem;
	box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
	}


.chevron::before {
		border-style: solid;
		border-width: 0.25em 0.25em 0 0;
		content: '';
		display: inline-block;
		height: 0.45em;
		left: 0.10em;
		position: relative;
		top: 0.15em;
		transform: rotate(-45deg);
		vertical-align: middle;
		align-content: center;
		width: 0.45em;
		padding: 3px 4px;
	}

.icon-chevron-right:before {
	left: 0;
	transform: rotate(45deg);
	}

.icon-chevron-left:before {
	left: 0.25em;
	transform: rotate(-135deg);
	}


/* SMS-TEMPLATES RESPONSIVE*/

@media (max-width:667px) and (min-width: 375px){
	
#left-text h3.top-title0 {
		margin-top: 2rem;
		margin-left: 5px;
		margin-bottom: -20px;
				}

.rightwidth {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	width: 400px;	
	}

.searchblock{
	white-space: nowrap;
	}

	.searchblock input {
		width: 130px;
		}

		.ajmodel  {
			color: white;
			background-color: #A7D08E;
			border-radius: 5px;
			border: 1px solid #A7D08E;
			margin-left: 0;
			width: 250px;
			margin-top: 60px;
			padding-top:6px;
			padding-bottom:5px;
			}		

		.portlet {
			margin-top: 1rem;
		}
}


@media (max-width:1180px) and (min-width: 820px){

.rightwidth {
	width: 1000px;	
	margin-left: 3rem;
	margin-right: 3rem;
	padding-left: 0;
	}

.searchblock{
	white-space: nowrap;
	}

	.searchblock input {
		width: 130px;
		}

		.ajmodel  {
			margin-left: 0;
			width: 	450px;
			margin-top: 60px;
			padding-top:6px;
			padding-bottom:5px;
			margin-bottom: 20px;
			}		

		.portlet {
			margin-top: 1rem;
			width: 700px;
		}
}

@media (max-width:740px) and (min-width: 360px){

	#left-text h3.top-title0 {
		margin-top: 2rem;
		margin-left: 5px;
		margin-bottom: -20px;
				}

	
.rightwidth {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	width: 400px;	
	}

.searchblock{
	white-space: nowrap;
	}

	.searchblock input {
		width: 130px;
		}

		.ajmodel  {
			margin-left: 0;
			width: 250px;
			margin-top: 60px;
			padding-top:6px;
			padding-bottom:5px;
			}		

		.portlet {
			margin-top: 1rem;
					}
			}

@media (max-width:1180px) and (min-width: 820px){
	#left-text h3.top-title0 {
		margin-top: 2rem;
		margin-left: 60px;
		margin-bottom: -20px;
				}
	.ajmodel  {
		margin-left: 25rem;
		margin-top: 0;
		width: 200px;
			}
		}

@media (max-width:540px) and (min-width: 720px){
	h3.top-title0 {
		margin-top: 2rem;
		margin-left: 1rem;
		margin-bottom: -20px;
				}
	.portlet.light{
		width: 500px;
	}
			}

@media (max-width:1024px) and (min-width: 768px){
	#left-text h3.top-title0 {
		margin-top: 2rem;
		margin-left: 30px;
		margin-bottom: -20px;
				}
	.rightwidth {
	margin-left: 1rem;
	margin-right: 1rem;
	padding-left: 0;
		}
		.searchblock{
			white-space: nowrap;
			}

		.ajmodel  {
			width: 250px;
			margin-top: 5px;
			padding-top:6px;
			padding-bottom:5px;
			}		

	.portlet {
		width: 700px;
				}
				
}

@media (max-width:1280px) and (min-width: 800px){
	h3.top-title0 {
		margin-top: 2rem;
		margin-left: 1rem;
		margin-bottom: 20px;
		font-family: Poppins;
		font-weight: 500;
		font-size: 30px;
	}
	.searchblock{
		white-space: nowrap;
		}
		.ajmodel  {
			margin-top: 5px;
			}	
	}

/* GESTION CONTACTS */

h3.top-title4{
	margin-left: 3rem;
	margin-top: 2rem;
}

	.select-box{
		display: flex;
		justify-content: center;
	}

.search-by{
	margin-right: 10px;
}

.all-group {
		margin-top: 4px;
}

.navbar-search {
	border: 4px solid #A7D08E;
	margin-right: 10px;
}

table{
	margin-top: 3rem;
	width: 100%;
	margin-left: 0;
	box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
	}

#viewcontactsform{
	margin:80px 20.100px 0px;
	margin-left: 3rem;
}

.showpg{
	margin-top: 3rem;
	margin-left:2rem;
}

.chevron2::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.10em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: middle;
	align-content: center;
	width: 0.45em;
	padding: 3px 4px;
}

.icon-chevron2-right:before {
left: 0;
transform: rotate(45deg);
}

.icon-chevron2-left:before {
left: 0.25em;
transform: rotate(-135deg);
}

/* GESTION CONTACTS RESPONSIVE*/

@media (max-width:667px) and (min-width: 375px){
h3.top-title4{
	margin-left: 15px;
	margin-top: 2rem;
}

	.rightwidth {
		margin-left:15px;
		padding-left: 0;
			}

	.drop2{
		margin-top: 10px;
			} 

	table{
		margin-left: 0;
		margin-right: 0;
	}
	form#viewcontactsform{
		margin-left: 1rem;
		margin-right: 1rem; 
		margin-top: 2rem;
	}

	.showpg{
		margin-top: 3rem;
		margin-left:0;
		white-space: nowrap;
	}
	.nxtpre2{
		float: left;
	}
}

@media (max-width:740px) and (min-width: 360px){

	h3.top-title4{
		margin-left: 15px;
		margin-top: 2rem;
	}

	.navbar-search {
		border: 4px solid #A7D08E;
		margin-right: 5px;
	}
	.rightwidth {
		margin-left: 5px;
		padding-left: 0;
			}

	.drop2{
		margin-top: 10px;
			} 

	table{
		margin-left: 0;
		margin-right: 0;
	}
	#viewcontactsform{
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 2rem;
	}

	.showpg{
		margin-top: 3rem;
		margin-left:-5px;
		white-space: nowrap;
	}
	.nxtpre2{
		float: left;
	}
}

@media (max-width:1180px) and (min-width: 820px){

	h3.top-title4{
		margin-left: 2rem;
		margin-top: 2rem;
	}

	table.pano{
		margin-left: 0;
	}
		}

@media (max-width:1024px) and (min-width: 600px){

			h3.top-title4{
				margin-left: 2rem;
				margin-top: 2rem;
			}
		
			table.pano{
				margin-left: 1rem;
			}
		}		

	
/* UPLOAD CONTACTS */

.tablo{
	margin-right: 4rem;
	margin-top:3rem;
}

.marj1 {
	margin-left: 9rem;;
}

.nav-tabs {
	margin-top:2rem;
	}

.marj{
	margin-top: 3rem;
	margin-left: 2rem;
		}

.alrt{
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.file-upload-control{
	width: 700px;
	margin-left: -10rem;
}
	

#ddgroup{
	margin-top:10px;
}

#NumberFormat{
	margin-top:10px;
}

.toto {
	margin-top: 1.5rem;
    color: white;
    background-color: #A7D08E;
	box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
	border:2px solid #A7D08E;
	border-radius: 5px;
}

/* SCHEDULED MESSAGES*/

#IndviGrid {
background-color: white;
margin-top: 3rem;
margin-left: 2rem;
margin-right: -5rem;
}

.nav-tabs {
	margin-left: 2rem;
	margin-right: -5rem;
	background-color: white;
}

#Transactions{
	background-color: white;
}

#GroupGrid {
	background-color: white;
	margin-top: 3rem;
	margin-left: 2rem;
	margin-right: -5rem;
	}

.white{
	background-color: white;
}

	
/* SMS DROPDOWN MENU*/


#sidebar ul.menu-categories li.menu2 .dropdown-toggle {
    display: flex;
    cursor: pointer;
    font-size: 14px;
    color: rgba(44, 63, 52, 0.7)!important;
    padding: 9px 10px;
    transition: .600s;
    border-radius: 6px;
    font-weight: normal !important;
}

	
.imgsiz0 {
	width: 50px;
	height: 50px;
	padding-left: 10px;
	padding-right: 8px;
	}

	.imgsiz0 :hover {
		fill: white;
	  }
	  
	  
.imgsiz {
	width: 20px;
	height: 20px;
}


ul.menu2{
       list-style: none;
	   border-radius: 5px;
		width:auto;
		}

ul.menu2 li.drop0{
    display: block;
    position: relative;
    float: right;
}


li ul{
    display: none;
}


ul.menu2 li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
    white-space: nowrap;
}

ul.menu2 li a:hover {
   	color: white;
	}



li.menu2.nav-item:hover {
	background-color: #A7D08E;
	padding-right: 20px;
	padding-bottom: 10px;
	border-radius: 6px;
	color: white;
		}

	li.menu2:hover ul.menu2 {
    display: block;
    position: relative;
	fill:white;
	}


li.menu2:hover .drop0{
    float: none;
    font-size: 13px;
		}

li.menu2:hover a {
    background:  #A7D08E;
	border-radius: 6px;
	width:auto;
	color: white;
}

li.menu2 :hover .drop0 a:hover {
	background: #0a6633;
	border-radius: 6px;
	width:auto;
}


/* SMS CAMPAGN */

.topbar{
	height:6rem;
	}

#campsms {
	background-color:#A7D08E ;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20%;
	border-radius: 15px;
	transition: transform 200ms ease-in-out;
	cursor: pointer;
		}

		#campsms :hover {
			transform: scale(1.2);
			color:white;
				}

.campsms0{
display: flex;
justify-content: center;
padding-top: 2rem;
padding-bottom: 2rem;
font-size: 100px;
}

/* SMS CAMPAGN RESPONSIVE*/

@media (max-width:740px) and (min-width: 360px){
	#campsms {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 40%;
		text-align: center;
			}
	
	.campsms0{
		display: flex;
		justify-content: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		font-size: 40px;
		}
	}	
	
@media (max-width:1180px) and (min-width: 820px){
	#campsms {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 40%;
		text-align: center;
			}
	
	.campsms0{
		display: flex;
		justify-content: center;
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 2rem;
		padding-bottom: 2rem;
		font-size: 75px;
		}
	}	

	@media (max-width:1024px) and (min-width: 768px){
		#campsms {
			margin-left: 5%;
			margin-right: 5%;
			margin-top: 40%;
			text-align: center;
				}
		
		.campsms0{
			display: flex;
			justify-content: center;
			padding-left: 3px;
			padding-right: 3px;
			padding-top: 2rem;
			padding-bottom: 2rem;
			font-size: 75px;
			}
		}	

		@media (max-width:914px) and (min-width: 412px){
			#campsms {
				margin-left: 5%;
				margin-right: 5%;
				margin-top: 50%;
				text-align: center;
					}
			
			.campsms0{
				display: flex;
				justify-content: center;
				padding-left: 3px;
				padding-right: 3px;
				padding-top: 2rem;
				padding-bottom: 2rem;
				font-size: 55px;
				}
			}	